BOTTOKEN=Put your discord bot's token here (you can create a bot/token here: https://discordapp.com/developers/applications/me/create)
GOOGLEAPIKEY=Put your google api key here (you can create one here: https://console.developers.google.com)
SOUNDCLOUDID=Put your soundcloud client id here (you can get one here: http://soundcloud.com/you/apps/new)